.link {
  @apply inline-flex cursor-pointer items-center rounded-md px-3 p-2 font-medium leading-6 text-gray-700 transition duration-75 ease-in-out;
  user-select: none;
}

/* navtest */
.link:hover {
  /* @apply text-white; White text color on hover */
  background-color: rgb(241, 242, 243); /* Grey background color on hover */
  border-radius: 0.2rem;
}

.link:focus {
  @apply text-gray-700 outline-none ring-2 ring-transparent ring-opacity-50;
}

.logo {
  @apply transform cursor-pointer rounded-full duration-100 ease-in-out;
}

/* New styles for search input */

/* Make Organization Name gray-800 and bold */
.organization-name {
  @apply font-bold text-gray-700;
}

.upgrade {
  @apply inline-flex cursor-pointer items-center rounded-sm p-2 font-medium leading-6 text-gray-800 transition ease-in-out;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 0.5rem; /* Match the padding with the search input */
  user-select: none;
}

.upgrade:hover {
  background-color: rgb(37, 56, 198);

  transition: background-color 0.3s ease-in-out;
  user-select: none;
}

.feedback {
  @apply inline-flex cursor-pointer items-center rounded-sm p-2 font-medium leading-6 text-gray-800 transition ease-in-out;
  color: rgb(0, 0, 0);
  /* border: 1px solid rgb(40, 99, 226); */
  user-select: none;
}

.help {
  @apply inline-flex cursor-pointer items-center rounded-sm p-2 font-medium leading-6 text-gray-800 transition ease-in-out;
  color: rgb(0, 0, 0);
  user-select: none;
}
.feedback:hover,
.help:hover {
  @apply inline-flex cursor-pointer items-center rounded-sm p-2 font-medium leading-6 text-gray-800 transition ease-in-out;
  color: rgb(94, 138, 248);
  transition: color 0.3s ease-in-out; /* Adjust the duration and easing as needed */
  background-color: rgb(241, 242, 243); /* Grey background color on hover */
}

.rotate {
  transform: rotate(90deg); /* or the desired angle */
}

.buttonContainer {
  /* Your existing styles */
  transition: transform 0.5s ease; /* Adjust the duration and easing function as needed */
}

.button {
  @apply rounded-md;
  transition: transform 1s ease; /* Adjust the duration and easing function as needed */

  /* Set initial background color and padding */
  background-color: transparent;
  padding: 8px; /* Adjust the padding size according to your design */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor on hover */
  display: inline-block; /* Ensure buttons are displayed in the same line */
  padding: 12px; /* Increase padding on hover for the "square" effect */
  margin: 2px; /* Add margin to spread buttons apart on hover */
  /* Add a transition for smooth hover effects */
  transition: background-color 0.3s ease, padding 0.3s ease, margin 0.3s ease;
}

/* Add hover styles */
.button:hover {
  background-color: rgb(241, 242, 243); /* Grey background color on hover */
}
