/* Navbar.module.css */
/* .root {
  @apply sticky top-0 z-40 h-16 bg-white text-black transition-all duration-150 md:h-20;
} */

.link {
  @apply inline-flex cursor-pointer items-center rounded-md p-1 font-medium leading-6 text-black transition duration-75 ease-in-out; /* Set text color to black */
}

.link:hover {
  /* @apply text-white; White text color on hover */
  background-color: rgb(241, 242, 243); /* Grey background color on hover */
  border-radius: 0.25rem;
}

.link:focus {
  @apply text-white outline-none ring-2 ring-transparent ring-opacity-50;
}

.logo {
  @apply transform cursor-pointer rounded-full duration-100 ease-in-out;
}

/* New styles for search input */
.search {
  border-radius: 0.375rem; /* Equivalent to rounded-md */
  background-color: rgb(242, 242, 242); /* Light grey background */
  padding: 0.5rem; /* Increased padding */
  font-size: 0.8125rem; /* Decreased font size */
  color: #000000; /* Black text color */
  transition: background-color 75ms ease-in-out, color 75ms ease-in-out; /* Transition for both background color and text color */
  outline: none; /* Equivalent to focus:outline-none */
  width: 200px; /* Adjust the width as needed */
}

.search:hover {
  border-radius: 0.25rem; /* Equivalent to hover:rounded-md */
}

/* Make Organization Name black and bold */
.organization-name {
  @apply font-bold text-black;
}
